h1 {
  color: red;
}
.invisible{
  visibility: hidden;
}
.huge{
  font-size: 10rem;
}

/* 
document.querySelector("h1").innerHTML="Good Bye"; sets the element between the <h1> tag to goodbye
document.querySelector("body").style.background=("blue") changes background color of element
document.querySelector("a").setAttribute("href","https://www.bing.com"); redirects link from google to bing

*/